<h1>Welcome to The Cocktailer</h1>
<hr>
<%= link_to "Add a cocktail", new_cocktail_path, class:"btn btn-primary" %>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> <%= link_to "View", cocktail_path(cocktail) %> </li>
  <% end %>
</ul>
